body {
	padding-top: 60px;
}
      
.container {
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}

.hero-unit {
	background:#0B962D;
	margin-bottom: 30px;	
	padding: 60px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 10px solid #444;
	/*height:290px;
	background:#09402d url('../img/ad_board.jpg') top center no-repeat;*/
}

.hero-unit h1 {
	font-size: 40px;
	letter-spacing:0.5px
}

.hero-unit h2 {
	color:whitesmoke;
}

.black-text {
	color:black;
}

.orange-red-text {
	color:white;
}