@media print {
.navbar-inner {
    display:none;
}
#footer{ text-align:center; }
}
/* Login Styles */
body.login{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #444444;
}

.logo {
	font-weight: normal;
}

.slogan {
	
}

.board{
	background:url('../img/board.jpg');
	background-repeat:no-repeat;
	height:338px;
}

.form-signin {
	padding: 19px 29px 29px;
	margin: 50px auto 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.massive-footer {
	background:#FFCC33;
}

.massive-footer h3 {
	text-align:center;
	font-family: 'Stoke', serif;
	font-weight: normal;
	color:#000;
}

.footer-bar {
	background:#FF6600;
	height:50px;
	text-align:center;
	color:#FFF;
}

.footer-bar p {
	margin-top:15px;
}

.footer-bar a {
	text-decoration:underline;
	color:#FFF;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.head-bar {
	background: #FFF;
}

.login .nav{
	padding-top:2%;
}

/* General Styles */
body {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.red { color:red; }
.tabs-below .tab-content { border: 1px solid #DDD;border-bottom: 0px;border-radius: 2px; }
.tabs-below p { padding:10px; }
.form-search { display:inline;}
.profile h3{ padding-left: 10px;text-align: center; }
.profile h4 { text-align: center; }
#footer { padding-top: 20px;height:60px;background-color: #f5f5f5; }
.zoom-in-month { text-align:center; cursor:hand;}
.btn-filter { color:#000;  }
.main-container { padding-bottom:30px; }
/* Calendar Styles */
table.calendar {
	margin-top:20px;
	margin-bottom: 0;
	table-layout: fixed;
	vertical-align: middle;
}

table.calendar > thead > tr > th {
	text-align: center;
	overflow: hidden;
}

table.calendar > tbody > tr > td {
	height: 20px;
}

table.calendar > tbody > tr > td > div {
	//padding: 8px;
	height: 40px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

table.calendar > tbody > tr > td.present, 
table.calendar > tbody > tr > td.absent,
table.calendar > tbody > tr > td.interval {
	color: white;
	cursor: pointer;
	padding: 0;
	border-radius: 4px;
}

table.calendar > tbody > tr > td.absent > div {
   background-color: #bd362f;
   border-left: 1px solid white;
}

table.calendar > tbody > tr > td.interval > div {
   background-color: #f89406;
   border-left: 1px solid white;
}

table.calendar > tbody > tr > td.present > div {
	background-color: #51a351;
	border-left: 1px solid white;
}

table.calendar > tbody > tr > td.present > div:first-child, 
table.calendar > tbody > tr > td.absent > div:first-child
table.calendar > tbody > tr > td.interval > div:first-child {
	border-left: 0;
	margin-left: 1px;
}

table.calendar > tbody > tr > td.present > div.practice,
table.calendar > tbody > tr > td.absent > div.practice
table.calendar > tbody > tr > td.interval > div.practice {
	opacity: 0.7;
}
table.calendar > tbody > tr > td.conflicts > div > span.title {
	//color: red;
}
table.calendar > tbody > tr > td.max-conflicts > div {
	background-color: red;
	color: white;
}

table.calendar > tbody > tr > td.present > div > span, 
table.calendar > tbody > tr > td.absent > div > span,
table.calendar > tbody > tr > td.interval > div > span {
	display: block;
	text-align: center;
}
table.calendar > tbody > tr > td.present > div > span a, 
table.calendar > tbody > tr > td.absent > div > span a,
table.calendar > tbody > tr > td.interval > div > span a {
	color: white;
}

table.calendar > tbody > tr > td.present > div > span.title, 
table.calendar > tbody > tr > td.absent > div > span.title,
table.calendar > tbody > tr > td.interval > div > span.title {
	font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
	border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
	background-color: whiteSmoke;
}

.no-events { background:#3a87ad ;}

.table tbody tr .dates {text-align: center;font-weight: bold;}
.table tbody tr .old-month {background:#DDD;}

.no-show, .empty { color:#DDD; background:#DDD;}
.no-show a, .empty a{ color:#DDD; background:#DDD;}
